:root {
    
    --accent-color:#2196F3;
    --primary-font:'Roboto', sans-serif;
    --bg-color: #2F303A;
    --bg-color-two: #F5F5F5;
    --primary-text-color: #212121;
    --second-text-color: #757575;
    --third-text-color:#FFFFFF;
    --fourth-text-color: #F5F4FA;
    
    
}




img {
    display: block;
}

.link {
    text-decoration: none;
  
}
.list {
    list-style: none;
}

button {
    cursor: pointer;
    font-family: inherit;
}

body {
    
    font-size: 14px;
    letter-spacing: 0.03em;
    background-color: var(--bg-color-two);
    color: var(--third-text-color);
    font-family: var(--primary-font)
     
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/* HEADER*/

.logo {
    font-family: 'Raleway',sans-serif;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: #000000;
}

.part-logo {
    color:var(--accent-color)
}

.menu-link {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--primary-text-color);
}


.menu-link:hover,
.menu-link:focus {
    color: var(--accent-color)
}

.current {
    color: var(--accent-color);
}

.mail,
.phone {
  font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color:var(--second-text-color);
}

.mail:hover, .mail:focus,
.phone:hover, .phone:focus {
    color: var(--accent-color)
}

/* MAIN*/
/*---SECTION 1------*/
.business-solutions {
    background-color:var(--bg-color);
}
.business-solutions-one {
 
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color:var(--third-text-color);
}

.btn-form {
font-weight: 700;
font-size: 16px;
line-height: 1.88;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color:var(--third-text-color);
background-color: #188CE8;
}

.btn-form:hover, .btn-form:focus {
   background-color: var(--accent-color)
}

/*-----SECTION 2-------*/
.advantage { 
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;

}
.about-advantage { 
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color:var(--second-text-color);
}

/*----SECTION 3--------*/
.work {   
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
}
/* -----SECTION 4 ------*/

.team {
    background-color:var(--fourth-text-color);
}
.our-team { 
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
}
.team-members {  
font-weight: 500;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
}

.team-professions { 
font-weight: 400;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
color:var(--second-text-color);
}

/*-----FOOTER-----*/

.part-logo-w {
    color:var(--third-text-color);
}
.our-location {
font-style: normal; 
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color:var(--third-text-color);
}

.our-contacts {
   font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}

.our-location:hover, .our-location:focus,
.our-contacts:hover, .our-contacts:focus {
    color:var(--accent-color);
}

.page-bottom {
    background-color:var(--bg-color)
}

/*----PORTFOLIO-------*/

/*----MAIN-------*/
.btn-filter {
font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
color: var(--primary-text-color);
border-color:var(--fourth-text-color);
}

.btn-filter:hover, .btn-filter:focus {

  background-color:var(--accent-color);
  color:var(--third-text-color);

}

.picture-captions { 
font-weight: 700;
font-size: 18px;
line-height: 2.0;
letter-spacing: 0.06em;
color:var(--primary-text-color);
}

.kind-pic {
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.03em;
color: var(--second-text-color);
}